.linka {
	stroke: 1 px;
	color: whitesmoke;
	}

/*
*{
	margin: 15px;
	padding: 10px;
}
*/

header {	
	margin: 50px;
	}

body {background-color: black
	}


h1	{
	color:	whitesmoke;
	font-size: 40px, auto;
	font-family: Montserrat, sans-serif;
}

p	{
	color:	whitesmoke;
	font-weight: bold;
	font-family: Montserrat Light, sans-serif;
}

.t01	{
	color: whitesmoke;
	font-family: Montserrat;
}

.dva	{
	color: whitesmoke;
}

.content {
	margin: 50px;
	margin-bottom: 20px;
}

.aboutme {
	margin-top: 20px;
	margin-bottom: 20px;
}

img {
	/*height: 250px;
	border-radius: 0px;*/
	width: 100%;
}
	

a 	{
	text-decoration: none;
	font-size: 20px, auto;
	font-family: Montserrat, sans-serif;
	text-align: center;
	color: white;
	border: 1px solid white;
	padding: 10px 15px;
	margin: auto;
}

.zobrazeni	{
	display: inline-block;
	align-items: center;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 155px;
  	height: 20px;
}

hr.style-seven {
    height: 0px;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 1px 0 0 0;
}


footer {
	margin: 50px;
	margin-top: 20px;
	}